.header {
    font-size: 20px;
    line-height: 1.5;
    margin: 60px auto;
    margin: 60px auto;
}
.header > span {
    display: block;
}
.section {
    padding: 30px 0;
}
.container, .col-lg-6, .col-lg-offset-3 {
    /* border: 2px solid red; */
}
.form {
    border: 5px solid #2727d9;
    padding: 30px 20px;
}
.form input {
    margin-top: 20px;
    margin-bottom: 20px;
}
.form-header {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: 500;
}
.btn-form {
    background-color: #2727d9;
    margin: 25px auto;
}
.section-header {
    font-size: 20px;
    font-weight: 900;
}
.feature {
    margin-top: 60px;
    margin-bottom: 100px;
}
.feature p {
    margin-top: 20px;
}
.video {
    margin-bottom: 30px;
}
.feature-box {
    height: 160px;
}